<div class="container mt-6 pt-3">
    <!-- Título principal -->
    <div class="hero-body has-text-centered">
      <h2 class="title">Feedback dos Clientes</h2>
    </div>

    <div *ngIf="isLoading" class="d-flex justify-content-center mt-5">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  
    <!-- Cards de feedback -->
    <div class="row" *ngIf="!isLoading">
      <div class="col-12 col-sm-6 col-md-4 mb-4" *ngFor="let card of cards">
        <div class="card custom-card h-100 shadow-sm">
          <div class="card-body">
            <div class="card-content text-dark">
              <p class="title is-5">{{card.userName}}</p>
              <p>"{{card.mesage}}"</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="d-flex justify-content-center mt-3" *ngIf="!isLoading">
      <ul class="pagination">
        <!-- Botão "Previous" -->
        <li class="page-item" [ngClass]="{ 'disabled': p === 1 }">
          <a class="page-link" (click)="onPageChange(p - 1)">Previous</a>
        </li>
    
        <!-- Páginas numéricas -->
        <li class="page-item" *ngFor="let page of getPages()">
          <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
        </li>
    
        <!-- Botão "Next" -->
        <li class="page-item" [ngClass]="{ 'disabled': p === totalPages }">
          <a class="page-link" (click)="onPageChange(p + 1)">Next</a>
        </li>
      </ul>
    </div>
    <!-- Formulário de novo feedback dentro de um card -->
    <div class="card mt-5 custom-card shadow" *ngIf="!isLoading">
      <div class="card-body">
        <h4 class="card-title text-center mb-4">Deixe seu feedback</h4>
  
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="row g-3">
          <div class="col-md-6">
            <input type="text" class="form-control" formControlName="userName" placeholder="Seu nome">
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" formControlName="mesage" placeholder="Seu feedback">
          </div>
          <div class="col-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-success mt-3 px-4">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  
  </div>
  